<ion-header>
  <ion-toolbar>
    <ion-title>lista-programacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="5">
          <ion-item id="modalDesde">
            <ion-label>Desde </ion-label>
            <ion-note slot="end">{{desde | date:'yyyy/MM/dd HH:mm'}}</ion-note>
          </ion-item>
          <ion-modal trigger="modalDesde" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                    min="2023-01-01"
                    presentation="date-time" 
                    [(ngModel)]="desde" 
                    size="fixed" 
                    [showDefaultButtons]="true"
                    cancelText="Cancelar"
                    doneText="Aceptar"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size="5">
          <ion-item id="modalHasta">
            <ion-label>Hasta </ion-label>
            <ion-note slot="end">{{hasta | date:'yyyy/MM/dd HH:mm'}}</ion-note>
          </ion-item>
          <ion-modal trigger="modalHasta" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                    min="2023-01-01"
                    presentation="date-time" 
                    [(ngModel)]="desde" 
                    size="fixed" 
                    [showDefaultButtons]="true"
                    cancelText="Cancelar"
                    doneText="Aceptar"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>          
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="buscar()">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
