<ion-header>
  <ion-toolbar>
    <ion-title>Info cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.codclie">
                </ion-col>
                <ion-col size-md="6" size="12">
                  <input type="text" [(ngModel)]="info.descrip">
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size-md="6" size="12">
                      <input type="text" [(ngModel)]="info.contacto" placeholder="Contacto">
                  </ion-col>
                  <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.represent">
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-md="6" size="12">
                  <ion-item>
                    <ion-select [(ngModel)]="claseSel" multiple="false" interface="popover" placeholder="Clase">
                      <ion-select-option [value]="clase.Descrip" *ngFor="let clase of clases">{{ clase.Descrip }}</ion-select-option>
                    </ion-select>
                  </ion-item>  
                </ion-col>
                <ion-col size-md="6" size="12">
                  <ion-item>
                    <ion-select [(ngModel)]="canalSel" multiple="false" interface="popover" placeholder="Canal">
                      <ion-select-option [value]="canal.Descrip" *ngFor="let canal of canales">{{ canal.Descrip }}</ion-select-option>
                    </ion-select>
                  </ion-item>  
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-select [(ngModel)]="paisSel" multiple="false" interface="popover" placeholder="País" (ionChange)="cambiarPais()">
                      <ion-select-option [value]="pais.Pais" *ngFor="let pais of paises">{{ pais.NombrePais }}</ion-select-option>
                    </ion-select>
                  </ion-item>  
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-select [(ngModel)]="dptoSel" multiple="false" interface="popover" placeholder="Departamento" (ionChange)="cambiarDpto()">
                      <ion-select-option [value]="dpto.Estado" *ngFor="let dpto of dptos">{{ dpto.NombreEstado }}</ion-select-option>
                    </ion-select>
                  </ion-item>  
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-select [(ngModel)]="ciudadSel" multiple="false" interface="popover" placeholder="Ciudad">
                      <ion-select-option [value]="ciudad.Ciudad" *ngFor="let ciudad of ciudades">{{ ciudad.NombreCiudad }}</ion-select-option>
                    </ion-select>
                  </ion-item>  
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.direc1" placeholder="Dirección">
                </ion-col>
                <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.email" placeholder="Email">
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.telef" placeholder="Teléfono">
                </ion-col>
                <ion-col size-md="6" size="12">
                    <input type="text" [(ngModel)]="info.movil" placeholder="Celular">
                </ion-col>
              </ion-row>




            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!esOtro">
      <ion-fab-button (click)="programar()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="guardar()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
