.texto {
    align-items: center;
    color: #000;
    display: flex;
    font-size: medium;
    height: 40px;
    padding-left: 3px;
}

ion-button {   
    --border-radius: 50%;
    height: 50px;
    margin-right: 20px;
    width: 50px;
}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
}